*{
    padding: 0;
    margin: 0;
}
#footer{
    background-color: rgb(227, 227, 227);
    height: 540px;
    width: 100%;
}
#footer>div{
    height: 540px;
    width: 65%;
    margin: auto;
}
#foot-top{
    height: 250px;
    width: 100%;
    padding-top: 50px;
    display: flex;
}
#foot-top>div{
    width: 25%;
}
#foot-top>div>div:nth-child(1){
    width: 140px;
    font-size: 13px;
    font-weight: bold;
}
#foot-top>div>p{
    margin-top: 10px;
    font-size: 13px;
}
#foot-top>div:nth-child(4)>p:nth-child(1){
    margin-top: 30px;
    margin-bottom: 10px;
}
#foot-top>div:nth-child(4)>button{
    background-color: rgb(227, 227, 227);
    border: none;
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

#foot-icons{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#foot-icons>div{
    padding: 0px 15px;
    margin-top: 15px;
    font-size: 24px;
}
#footer>div>p:nth-child(3){
    text-align: center;
    font-size: 13px;
}
#footer>div>div:nth-child(4){
    width: 5%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
}
#footer>div>p:nth-child(5){
    text-align: center;
    font-size: 13px;
}

@media screen and (min-width:600px) and (max-width:1000px) {
    #footer{
        height: 700px;
    }
    #foot-top{
        flex-wrap: wrap;
        height: auto;
    }
    #foot-top>div{
        width: 49%;
        margin-top: 10px;
    }
}
@media screen and (min-width:250px) and (max-width:599px){
    #footer{
        height: 1050px;
    }
    #foot-top{
        flex-wrap: wrap;
        height: auto;
    }
    #foot-top>div{
        width: 100%;
        margin-top: 10px;
    }
} 