
#top{
    width: 100%;
    height: auto;
    background-color: rgb(250, 249, 248);
}
#top-nav{
    width: 100%;
    height: 100px;
    display: flex;
}
#topnav-left{
    width: 46%;
    height: 100px;
    display:  flex;
    padding-left: 20px;
}
#topnav-left>p{
    margin-top: 35px;
    margin-right: 15px;
    font-size: 15px;
}
#topnav-left>div{
    margin-top: 33px;
    margin-right: 20px;
    font-size: 24px;
}
#topnav-mid{
    width: 5%;
    height: 40px;
    margin-top: 40px;
}
#topnav-mid>img{
    width: 100%;
    height: 100%;
}
#topnav-right{
    width: 48%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#sign_in{
    display: flex; 
    /* margin-right: 20px; */
    height: 100px;
    width: 100px;
    padding-left: 40px;
}
#sign_in_hide{
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgb(209, 209, 209);
    padding: 20px;
    position: absolute;
    right: 22%;
    top: 10%;
    height: 135px;
    width: 200px;

    display: none;
}
#sign_in_hide>button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #222222;
    border: none;
    outline: none;
    
}
#sign_in_hide>button>p:nth-child(1){
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
}
#sign_in_hide>button>p:nth-child(2){
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
}
#sign_in_hide>button>p:nth-child(3){
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
}
#sign_in:hover + #sign_in_hide,  #sign_in_hide:hover{
    display: block;
}

#fav{
    display: flex; 
    margin-right: 20px;
}
#shop-bag{
    display: flex; 
    margin-right: 20px;
    height: 40px;
    margin-top: 30px;
    outline: none;
    border: none;
    background-color: rgb(250, 249, 248);
}
#shop-bag>div:nth-child(1){
    margin-top: 6px;
    font-size: 24px;
    margin-right: 5px;
}
#shop-bag>p{
    font-size: 16px;
    margin-top: 10px;
}
.nvaright-icon{
    margin-top: 35px;
    font-size: 24px;
}
#topnav-right>div>p{
    margin-top: 38px;
    margin-left: 5px;
}


#bottom-nav{
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 25px;
}
#bottomnav-left{
    width: 74%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
}
#bottomnav-left>button{
    margin-right: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgb(250, 249, 248);
}

#bottomnav-right{
    width: 16%;
    height: 42px;
    border-bottom: 1px solid black;
    padding-left: 10px;
    display: flex;
    margin-left: 100px;
}
#bottomnav-right>div{
    padding-top: 12px;
    font-size: 24px;
    margin-right: 10px;
}
#bottomnav-right>input{
    width: 78%;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: rgb(250, 249, 248);
}
::placeholder{
    color: black;
    padding-top: 10px;
}


